/build
/dist

/packages/*/build
/packages/*/dist
/packages/*/package

coverage
node_modules

.DS_Store
*.min.cjs
*.min.js
*.min.mjs
*.min.css
.tsbuildinfo
*.tsbuildinfo
pnpm-lock.yaml
package-lock.json
yarn.lock
